@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Dasari palem<br />
    Nagaram(md), Guntur AP 520034<br />
    <abbr title="Phone">P:</abbr>
    +91 9059910248 / +91 8123867546
</address>

<address>
    <strong>Support:</strong> <a href="mailto:nunnaramudu@gmail.com">nunnaramudu@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nunnaramudu@gmail.com">nunnaramudu@gmail.com</a>
</address>
