@page

<div class="row">
    <div class="col-md-4">
        <section>

            <h4> Welcome to online test</h4>
            <hr />

            <div class="form-group">
                <p>
                    To start please register using below link.
                </p>
                <p>
                    <a href="./Identity/Account/Register">Register</a>
                </p>
            </div>
        </section>
    </div>

</div>

